location                       = "eastus"
rg-name                        = "rg-backend-delyfoodapp"
db_name                        = "delyfoodapp-postgresql"
fn_storage_account_name        = "delyfoodapp"
fn_app_service_plan_name       = "plan-delyfoodapp"
function_app_name              = "delyfoodapp-func-graphql"
application_insights           = "delyfoodapp-application-insights"
services_bus_namespace_name    = "delyfoodapp-bus-namespace"
messages_queue_name            = "delyfood-messages-queue"
messages_error_queue_name      = "delyfood-messages-error-queue"
delyfood_messages_writer       = "delyfood-messages-writer"
delyfood_messages_reader       = "delyfood-messages-reader"
delyfood_messages_error_reader = "delyfood-messages-error-reader"
delyfood_messages_error_writer = "delyfood-messages-error-writer"
delyfood_signalr               = "delyfood-signalr"
